{% extends 'base.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}
<div class="basic-grid">
    <div class="basic-grid-form">
        <div class="flexCol">
            <h2>Horizon Travels</h2>
        </div>

        <div style="padding-left: 10px; padding-right: 10px;">
            <p>The company was founded in 1907 by the eccentric visionary, Ravels T. Horizon.</p>
            <p>He was trying to plan a journey to the north, and he quickly realised the limitations of his time.</p>
            <p>No matter where and how hard he looked, he just could not find a reputable company that could help arrange his upcoming trip!</p>
            <p>So he did what every billionaire seems to do when they are slightly inconvenienced and decided to throw money at the problem.</p>
            <p>Thus, his new company, Horizon Travels was created.</p>
            <br/>
            <p>Through the decades since then, we have strived to be the best travel booking company in all the UK.</p>
            <p>Slowly but surely, we have expanded across the entire country, and nowadays we offer a variety of journey options for those with adventure in their heart.</p>
            <br/>
            <p>Our continued commitment to excellent customer service and great reliability has won us a number of awards over the years.</p>
            <p>Recently we have been named the UK's leading travel booking company based on customer satisfaction.</p>
            <p>When you travel with us, you can rest easy knowing that you are in good hands!</p>
        </div>
    </div>
</div>
{% endblock %}