{% extends 'base.html' %}

{% block title %}
    Help
{% endblock %}

{% block content %}
<div class="basic-grid">
    <div class="basic-grid-alt">
        <div class="flexCol">
            <div>
                <h2>Advance booking</h2>
                <p>You can save money by booking your tickets in advance.</p>
                <br/>
                <p>The following rates apply:</p>
                <p>Between 80 and 90 days in advance: 20% discount</p>
                <p>Between 60 and 79 days in advance: 10% discount</p>
                <p>Between 45 and 59 days in advance: 5% discount</p>
                <br/>
                <p>The discount applies to the total booking price.</p>
            </div>

            <div>
                <h2>Managing your booking</h2>
                <p>You can manage your bookings in two ways:</p>
                <p>1, by going into the menu on the left hand side of the top of the page, then selecting the "My Trips" option.</p>
                <p>2, by going into the menu on the left hand side of the top of the page, then selecting the "Account" option, then selecting the "My Trips" option.</p>
            </div>

            <div>
                <h2>Cancellations</h2>
                <p>Booking cancellation before 60 days of booking date does not incur cancellation charges.</p>
                <p>Booking cancellation between 30 and 60 days of booking date will incur charges up to 50% of booking price.</p>
                <p>Within 30 days of booking date 100% of booking price will be charged.</p>
            </div>

            <div>
                <h2>Managing your account</h2>
                <p>You can manage your account by going into the menu on the left hand side of the top of the page, then selecting the "Account" option.</p>
                <p>There you can access any options associated with your account.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}